@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
}
.cabecalho{
    display: flex;
    justify-content: space-between;
    background: #3000bac2;
    padding: 30px;
}

.menu{
    display: none;
}

.material-symbols-outlined{
    color: white;
}

.material-symbols-outlined:hover{
    color: whitesmoke;
}

.section-principal{
    padding: 60px 0px;
    background: #e6506b;
    color: white;
    font-size: 14px;
}

.section-principal h1{
    font-size: 2.2em;
    text-align: center;
    padding: 25px 0px;
}

.section-principal h2{
    text-align: center;
}

.imagem-do-astronauta{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    background:#5933c8;
}
.logo{
    padding: 76px 0px;
}
.rodape .logo{
    margin: 0 auto;
}

/* celulares maiores */

@media screen and (min-width: 1280px){
    .menu{
        display: flex;
        gap: 90px;
        margin: 0 auto;
    }
    .material-symbols-outlined{
        display: none;
    }

    .menu a{
        text-decoration: none;
        color: white;
    }
    .section-principal{
        padding: 43px;
    }

}